@layer theme, base, antd, components, utilities;
@import url('https://fonts.cdnfonts.com/css/tt-norms');
@import url('https://fonts.cdnfonts.com/css/Poppins');
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/rossanova-personal-use');
@import 'tailwindcss';
@import 'react-day-picker/dist/style.css';

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@theme {
  --font-display: 'TT Norms', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-third: 'Roboto', sans-serif;
  --font-rossanova: 'Rossanova Personal Use', serif;
  --color-primary: #ffc84e;
  --color-primary-50: #fff9eb;
  --color-primary-100: #fff0c6;
  --color-primary-200: #ffde88;
  --color-primary-300: #ffc84e;
  --color-primary-400: #ffb020;
  --color-primary-500: #f98c07;
  --color-primary-600: #dd6602;
  --color-primary-700: #b74506;
  --color-primary-800: #94350c;
  --color-primary-900: #7a2d0d;
  --color-primary-950: #461502;
  --color-error: #ef4444;
  --color-gray-9: #1c1c1c;
  --color-borderGray: #d9d9d9;
  --color-textGray: #999;
  --color-carbsYellow: #fcb524;
  --color-fatsBlue: #52c0bc;
  --color-proteinsPurple: #976fe8;
  --color-shortTime: #d8efd3;
  --color-mediumTime: #ffecc8;
  --color-longTime: #ffc7c7;
  --color-secondary: #649dad;
  --color-secondary-50: #f2f8f9;
  --color-secondary-100: #deedef;
  --color-secondary-200: #c1dae0;
  --color-secondary-300: #96bfca;
  --color-secondary-400: #649dad;
  --color-secondary-500: #488192;
  --color-secondary-600: #3e6b7c;
  --color-secondary-700: #385866;
  --color-secondary-800: #344b56;
  --color-secondary-900: #2f414a;
  --color-secondary-950: #1b2931;
}

:root {
  font-family: var(--font-display);
  /* These properties cannot be overridden using Tailwind */
  /* Override css variable React-Toastify : [https://fkhadra.github.io/react-toastify/how-to-style/#override-css-variables] */
  --toastify-color-progress-success: linear-gradient(
    to right,
    #97f8ae,
    #3ebc5b
  );
  --toastify-color-progress-error: linear-gradient(to right, #f6a3ab, #da3243);
  --toastify-color-progress-warning: linear-gradient(
    to right,
    #ffe28c,
    #d4ad38
  );
  --toastify-color-progress-info: linear-gradient(to right, #87e3f1, #3fa6b6);
  --toastify-spinner-color: #33d638;
  --toastify-icon-color-success: #5ddd7b;
  --toastify-icon-color-error: #f16f7c;
  --toastify-icon-color-warning: #e7c971;
  --toastify-icon-color-info: #3fa6b6;
}

.ant-card-body {
  width: 73%;
  padding: 0;
}

.ant-menu-item {
  padding-right: 24px;
}

.ant-menu-item-selected {
  @apply bg-primary-100 text-primary-400;
}

:where(.css-dev-only-do-not-override-1xtxwrz).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-1xtxwrz).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: theme('colors.primary.400') !important;
}

.detail-modal .ant-modal-content {
  max-height: 90vh;
  overflow-y: auto;
  padding: 0;
}

.detail-modal .ant-modal-header {
  height: 70px;
  margin: 0;
}

.detail-modal .ant-modal-title {
  font-size: 25px;
  padding-left: 32px;
  line-height: 70px;
}

.ant-popover-title {
  font-size: 20px;
  padding: 0px;
}

.ant-tabs-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.ant-list-header {
  padding: 0;
  padding-bottom: 4px;
}

.direction-list ul.ant-list-items {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.direction-list ul.ant-list-items li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  margin: 0.5em 0 0.5em 2.5em;
  background: #ffffff;
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.direction-list ul.ant-list-items li:hover {
  background: #dcdde1;
}

.direction-list ul.ant-list-items li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 0.4em;
  margin-top: -0.25em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.direction-list ul.ant-list-items li:after {
  position: absolute;
  content: '';
  border: 0.5em solid transparent;
  left: -0.75em;
  top: 1.4em;
  margin-top: -0.75em;
  transition: all 0.3s ease-out;
}

.direction-list ul.ant-list-items li:hover:after {
  left: -0.5em;
  border-left-color: #f9dd94;
}

.direction-list ul.ant-list-items li.completed {
  text-decoration: line-through;
  color: #888;
}

.direction-list ul.ant-list-items li.completed:before {
  background: #dcdde1;
  color: #444;
}

.direction-list ul.ant-list-items li.completed:hover:after {
  border-left-color: #dcdde1;
}

.ant-tabs-tab {
  margin-right: 18px;
  margin-left: 2px;
}

.ant-skeleton {
  font-size: 0;
}
