name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main   # đổi nếu bạn deploy từ branch khác

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22' # hoặc version React bạn dùng

      - name: Clean install deps
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Deploy to Firebase
        run: npx firebase deploy --token "$FIREBASE_TOKEN"
